{
  "root": false,
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["react-openlayers", "../"]
        ],
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}